<div class="container container-about">
	<h1 class="about-title text-center">☆トレスタとは？</h1>
	<div class="row row-about text-center">
		<h2>☆トレスタは</h2><h2>TCG（トレーディングカードゲーム）の対戦相手を探すマッチングサイトです</h2>
		<br>
	</div>
	<div class="row row-margin">
	</div>
	<div class="row row-use text-center">
		<h3>対戦相手の探し方</h3>
		<p>①あなたの希望の対戦条件を記入して、マッチリクエスト（対戦相手募集）を投稿しましょう！</p>
		<p>②他のユーザーがあなたの対戦条件を見て、対戦を約束してくれたらマッチング成立です！</p>
		<p>③マッチング後は、約束した待ち合わせ日時に、待ち合わせ場所へ行き対戦をしましょう！</p>
		<p>④対戦後は、対戦相手を評価しましょう。お互いに評価が完了したら、対戦終了となります！</p>
	</div>
</div>