<div class="container container-thanks">
	<h1 class= index-title>評価が完了しました！！</h1>
	<div class="row row-thanks text-center">
		<h2>対戦相手が評価を完了すると対戦終了となります。</h2>
		<h2>対戦お疲れ様でした！！</h2>
	</div>
	<div class="text-center">
		<%= link_to 'トップページに戻る', root_path, class: "btn btn-info back" %>
	</div>
</div>