<div class="container container-create">
	<h1>対戦相手を募集中！</h1>
	<div class="row row-create">
		<h2 class="sub-title text-center">マッチリクエスト編集</h2>
		<%= render 'layouts/request_form' %>
	</div>
	<div class="back text-center">
			<%= link_to 'マッチリクエスト詳細に戻る', request_path(@request), class: "btn btn-info back" %>
	</div>
</div>