
<div class="container container-create">
	<h1>対戦相手を募集する！</h1>
	<div class="row row-create">
		<h2 class="sub-title text-center">マッチリクエスト新規作成</h2>
		<p id="notice" style="color: green;"><%= notice %></p>
		<%= render 'layouts/request_form' %>
	</div>
</div>