// Place all the styles related to the Evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-evaluation {
	h1 {
		color: black;
		line-height: 180%;
	}
	background-color: #ff9999;
	.row-evaluation {
		background-color: #ccffcc;
		.opponent {
			font-size: 30px;
			margin: 20px;
		}
		.evaluation {
			font-size: 30px;
			background-color: #ff99cc;
			margin-top: 40px;
		}
		.evaluation_comment {
			font-size: 20px;
			margin-top: 30px;
		}
		.create {
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.back {
			margin: 40px;
		}
	}
}