<nav class="nav-footer">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="NavbarContent">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>

				<li class="btn">
					<%= link_to "トップページへ", root_path, {class: "btn-text"} %>
				</li>

				<% else %>

				<li>
        			<%= link_to '管理者画面はこちら', '/admin' %>
      			</li>

				<li class="btn">
					<%= link_to "トップページへ", root_path, {class: "btn-text"} %>
				</li>

				<% end %>
			</ul>
		</div>
	</div>
</nav>