<nav class="navbar navbar-default" style="background-color: #EEE8AA; margin-bottom: 0px;">
	<div class="container-field">
		<div class="navbar-header">
			<p class="navbar-brand"></p>
		</div>
		<div id="navbarEexample7">
			<a class="navbar-logo" href="/" style="background-color: #EEE8AA;">
				<h2>トレ☆スタ</h2>
			</a>
		</div>
	</div>
</nav>